<%- include('./partials/header')%>
<main class="container my-5 py-5 text-center">
    <h1>Newsletter</h1>
    <div class="alert alert-success mt-5">
      <p>Olá, <%= nome %>!</p>
      <p>Agora você receberá atualizações da nossa página no e-mail: <%= email %>.</p>
    </div>
  </main>
<%- include('./partials/footer')%>